<header class="cabecalho ff-inter">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="cabecalho.component.css">
  
    <nav class="navbar navbar-expand-lg fixed-top img-logo">
        <section class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand" href="#inicio">
                <img src="https://png.pngtree.com/png-clipart/20190611/original/pngtree-wolf-logo-png-image_2306634.jpg"
                alt="Lions logo" width="60" height="60">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav menu d-flex gap-4">
                 <li><a class="nav-link" href="#Nossas-academias">Nossas academias</a></li>
                    <li><a class="nav-link" href="#maricule-se">Matriculas</a></li>
                </ul>

            </div>
        </section>
    </nav>    
</header>
  
  